# Lists everything in a directory
alias la="ls -a"

# Go back 1 directory level (for fast typers)
alias cd..='cd ../'
alias ..='cd ../' 

# Quickly search for file
alias qfind="find . -name "

# Quickly edit vimrc and bash_profile
alias vimrc='vim ~/.vim_runtime/my_configs.vim'
alias bashrc='vim ~/.bash_profile'

# Alias for quick access to icloud drive
alias cloud="cd ~/iCloud/com~apple~CloudDocs/"

# Graphical git log.
alias tlog="git log --all --decorate --oneline --graph"

