# Makes a new directory and cds to it
mcd () {
    mkdir -p $1 && cd $1
}

# Lazy git
function gacp {
	argc=$#
	argv=("$@")
	while [ $argc -gt 0 ]
	do	
		if [ $argc -gt 1 ]
		then
			for (( i=0;i<$(($argc-1));i++ ))
			do
				git add ${argv[i]}
			done
		else
			git add .
		fi
		if [ $(uname) == "Darwin" -o $(uname) == "Linux" ]
		then  
			git commit -m "${argv[*]: -1}"
		else
			git commit -m "${argv[-1]}" 
			# mingw, cygwin
		fi
		git push origin
		return 1
	done
	echo not enough input arguments
}

# For handling common typos that I make all the time
cim () {
    vim $1
}

bim () {
    vim $1
}

ci () {
    vi $1
}

bi () {
    vi $1
}

# Extract most know archives with one command
function extract()
{
    if [ -f $1 ] ; then
        case $1 in
            *.tar.bz2)   tar xvjf $1     ;;
            *.tar.gz)    tar xvzf $1     ;;
            *.bz2)       bunzip2 $1      ;;
            *.rar)       unrar x $1      ;;
            *.gz)        gunzip $1       ;;
            *.tar)       tar xvf $1      ;;
            *.tbz2)      tar xvjf $1     ;;
            *.tgz)       tar xvzf $1     ;;
            *.zip)       unzip $1        ;;
            *.Z)         uncompress $1   ;;
            *.7z)        7z x $1         ;;
            *)           echo "'$1' cannot be extracted via >extract<" ;;
        esac
    else
        echo "'$1' is not a valid file!"
    fi
}

# Creates an archive (*.tar.gz) from given directory.
function maketar() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }

# Create a ZIP archive of a file or folder.
function zipf() { zip -r "${1%%/}.zip" "$1" ; }

