# Makes a new directory and cds to it
mcd () {
    mkdir -p $1 && cd $1
}

# For handling common typos that I make all the time
function cim() {
    vim $1
}

function bim() {
    vim $1
}

function ci() {
    vi $1
}

function bi () {
    vi $1
}

# Extract most know archives with one command
function extract()
{
    if [ -f $1 ] ; then
        case $1 in
            *.tar.bz2)   tar xvjf $1     ;;
            *.tar.gz)    tar xvzf $1     ;;
            *.bz2)       bunzip2 $1      ;;
            *.rar)       unrar x $1      ;;
            *.gz)        gunzip $1       ;;
            *.tar)       tar xvf $1      ;;
            *.tbz2)      tar xvjf $1     ;;
            *.tgz)       tar xvzf $1     ;;
            *.zip)       unzip $1        ;;
            *.Z)         uncompress $1   ;;
            *.7z)        7z x $1         ;;
            *)           echo "'$1' cannot be extracted via >extract<" ;;
        esac
    else
        echo "'$1' is not a valid file!"
    fi
}

# Creates an archive (*.tar.gz) from given directory.
function maketar() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }

# Create a ZIP archive of a file or folder.
function zipf() { zip -r "${1%%/}.zip" "$1" ; }

# TerraGrunt Clear cache
function tgc() {
    echo "Are you sure you want to delete .terragrunt-cache directory and .terraform.lock.hcl file? (y/n)"
    read answer
    if [ "$answer" != "${answer#[Yy]}" ] ;then
        find . -iname ".terragrunt-cache" -type d -exec rm -rf {} +;
        find . -iname ".terraform.lock.hcl" -type f -exec rm -rf {} +;
    else
        echo "Exiting..."
        exit 1
    fi
}


function nmc() {
    echo "Are you sure you want to delete node_modules recursively? (y/n)"
    read answer
    if [ "$answer" != "${answer#[Yy]}" ] ;then
        find . -iname "node_modules" -type d -exec rm -rf {} +;
    else
        echo "Exiting..."
        exit 1
    fi
}

function move_env_file() {
    if [ -f .env.local ]; then
        echo "A .env.local file already exists. Do you want to overwrite it? (y/n)"
        read answer
        if [ "$answer" = "y" ]; then
            cp .env.local .env.local-$(date +%Y%m%d-%H%M%S)
            cp $1 .env.local
        fi
    else
        cp $1 .env.local
    fi
}


# a function to kill all processes on a given port
function killport() {
    lsof -t -i tcp:$1 | xargs kill
}