.vim_runtime/temp_dirs/*
.vim_runtime/.vim_runtime
vscode-settings.json
.extra
!.vim_runtime/temp_dirs/undodir/.gitkeep
*.DS_Store
.vscode

# Private individual user cursor rules
.cursor/rules/_*.mdc
