<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>ClaudeCodeTriggersInstalled</key>
	<true/>
	<key>CodeReviewSavedPrompts</key>
	<data>
	W3sidGV4dCI6IlJldmlldyB0aGUgcGVuZGluZyBjaGFuZ2VzIGluIHRoaXMgcmVwby4g
	RmxhZyBpc3N1ZXMgYSBjYXJlZnVsIG1haW50YWluZXIgd291bGQgYmxvY2sgb24gYmVm
	b3JlIG1lcmdlLCBpbiByb3VnaGx5IHRoaXMgb3JkZXI6XG4gIDEuIENvcnJlY3RuZXNz
	IOKAlCBsb2dpYyBlcnJvcnMsIGJyb2tlbiBpbnZhcmlhbnRzLCBtaXNzZWQgZWRnZSBj
	YXNlcywgb2ZmLWJ5LW9uZSwgcmFjZXMsIGxpZmV0aW1lXC9tZW1vcnkgYnVncywgZXJy
	b3IgcGF0aHMgdGhhdCBzd2FsbG93IGZhaWx1cmVzLlxuICAyLiBTZWN1cml0eSDigJQg
	aW5qZWN0aW9uLCBhdXRoblwvYXV0aHogbWlzdGFrZXMsIHNlY3JldCBoYW5kbGluZywg
	dW5zYWZlIGRlc2VyaWFsaXphdGlvbiwgdW5zYWZlIGRlZmF1bHRzLCBUT0NUT1UuXG4g
	IDMuIFJlbGlhYmlsaXR5ICYgcGVyZm9ybWFuY2Ug4oCUIGJsb2NraW5nIHRoZSB3cm9u
	ZyB0aHJlYWQsIHVuYm91bmRlZCByZXNvdXJjZSB1c2UsIGFjY2lkZW50YWwgTyhOwrIp
	LCByZXRyaWVzIHdpdGhvdXQgYmFja29mZiwgc2lsZW50IGZhaWx1cmUgcGF0aHMuXG4g
	IDQuIENvbnRyYWN0IHJpc2sg4oCUIGJlaGF2aW9yIGNoYW5nZXMgY2FsbGVycyByZWx5
	IG9uLCBzaWxlbnRseSBjaGFuZ2VkIGRlZmF1bHRzLCBicm9rZW4gYmFja3dhcmQgY29t
	cGF0aWJpbGl0eSwgbWlzc2luZyBtaWdyYXRpb25zLlxuXG5Gb3IgZWFjaCBmaW5kaW5n
	IGNpdGUgYGZpbGU6bGluZWAsIGV4cGxhaW4gKndoeSogaXQgaXMgd3JvbmcgKG5vdCB3
	aGF0IHRoZSBjb2RlIGRvZXMpLCBhbmQgcHJvcG9zZSBhIGNvbmNyZXRlIGZpeCB3aGVu
	IG9uZSBpcyBvYnZpb3VzLiBCZSBjYWxpYnJhdGVkOiBpZiBhIGZpbmRpbmcgaXMgbm90
	IGhpZ2gtY29uZmlkZW5jZSwgc2F5IHNvIG9yIHNraXAgaXQuIFZlcmlmeSBjbGFpbXMg
	YWdhaW5zdCB0aGUgYWN0dWFsIGNvZGUgcmF0aGVyIHRoYW4gaW5mZXJyaW5nIGZyb20g
	bmFtZXMuXG5cblNraXAgcHVyZSBzdHlsZSwgZm9ybWF0dGluZywgbmFtaW5nLCBhbmQg
	YW55dGhpbmcgYSBsaW50ZXIgb3IgQ0kgYWxyZWFkeSBlbmZvcmNlcy5cblxuSWYgeW91
	IGZpbmQgbm90aGluZyB3b3J0aCBmaXhpbmcsIHNheSBzbyBwbGFpbmx5LiIsInV1aWQi
	OiI4NDU5QzVCOC02QkQ1LTQ2OTItOTZBQy05MEJDNTU0QkIwNzIiLCJuYW1lIjoiRGVm
	YXVsdCJ9XQ==
	</data>
	<key>Default Bookmark Guid</key>
	<string>BB0232AD-31BA-4C0C-B415-4294D2EE2881</string>
	<key>EnableAPIServer</key>
	<true/>
	<key>EnableDivisionView</key>
	<true/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideTabNumber</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.11764705926179886</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.09803921729326248</real>
				<key>Red Component</key>
				<real>0.0784313753247261</real>
			</dict>
			<key>Ansi 0 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.11764705926179886</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.09803921729326248</real>
				<key>Red Component</key>
				<real>0.0784313753247261</real>
			</dict>
			<key>Ansi 0 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.11764705926179886</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.09803921729326248</real>
				<key>Red Component</key>
				<real>0.0784313753247261</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.16300037503242493</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.23660069704055786</real>
				<key>Red Component</key>
				<real>0.7074432373046875</real>
			</dict>
			<key>Ansi 1 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.16300037503242493</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.23660069704055786</real>
				<key>Red Component</key>
				<real>0.7074432373046875</real>
			</dict>
			<key>Ansi 1 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.16300037503242493</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.23660069704055786</real>
				<key>Red Component</key>
				<real>0.7074432373046875</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.5654193758964539</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9042816162109375</real>
				<key>Red Component</key>
				<real>0.3450070321559906</real>
			</dict>
			<key>Ansi 10 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.5654193758964539</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9042816162109375</real>
				<key>Red Component</key>
				<real>0.3450070321559906</real>
			</dict>
			<key>Ansi 10 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.5654193758964539</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9042816162109375</real>
				<key>Red Component</key>
				<real>0.3450070321559906</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.8833775520324707</real>
				<key>Red Component</key>
				<real>0.9259033203125</real>
			</dict>
			<key>Ansi 11 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.8833775520324707</real>
				<key>Red Component</key>
				<real>0.9259033203125</real>
			</dict>
			<key>Ansi 11 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.8833775520324707</real>
				<key>Red Component</key>
				<real>0.9259033203125</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9485321044921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.6704471707344055</real>
				<key>Red Component</key>
				<real>0.6534907817840576</real>
			</dict>
			<key>Ansi 12 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9485321044921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.6704471707344055</real>
				<key>Red Component</key>
				<real>0.6534907817840576</real>
			</dict>
			<key>Ansi 12 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9485321044921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.6704471707344055</real>
				<key>Red Component</key>
				<real>0.6534907817840576</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.8821563720703125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4927266538143158</real>
				<key>Red Component</key>
				<real>0.8821563720703125</real>
			</dict>
			<key>Ansi 13 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.8821563720703125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4927266538143158</real>
				<key>Red Component</key>
				<real>0.8821563720703125</real>
			</dict>
			<key>Ansi 13 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.8821563720703125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4927266538143158</real>
				<key>Red Component</key>
				<real>0.8821563720703125</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9926329255104065</real>
				<key>Red Component</key>
				<real>0.3759753108024597</real>
			</dict>
			<key>Ansi 14 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9926329255104065</real>
				<key>Red Component</key>
				<real>0.3759753108024597</real>
			</dict>
			<key>Ansi 14 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9926329255104065</real>
				<key>Red Component</key>
				<real>0.3759753108024597</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9999960064888</real>
			</dict>
			<key>Ansi 15 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9999960064888</real>
			</dict>
			<key>Ansi 15 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9999960064888</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7607843279838562</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 2 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7607843279838562</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 2 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7607843279838562</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7695948481559753</real>
				<key>Red Component</key>
				<real>0.7805864810943604</real>
			</dict>
			<key>Ansi 3 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7695948481559753</real>
				<key>Red Component</key>
				<real>0.7805864810943604</real>
			</dict>
			<key>Ansi 3 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7695948481559753</real>
				<key>Red Component</key>
				<real>0.7805864810943604</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7821617722511292</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.2647435665130615</real>
				<key>Red Component</key>
				<real>0.15404300391674042</real>
			</dict>
			<key>Ansi 4 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7821617722511292</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.2647435665130615</real>
				<key>Red Component</key>
				<real>0.15404300391674042</real>
			</dict>
			<key>Ansi 4 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7821617722511292</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.2647435665130615</real>
				<key>Red Component</key>
				<real>0.15404300391674042</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7449436187744141</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.24931684136390686</real>
				<key>Red Component</key>
				<real>0.752197265625</real>
			</dict>
			<key>Ansi 5 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7449436187744141</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.24931684136390686</real>
				<key>Red Component</key>
				<real>0.752197265625</real>
			</dict>
			<key>Ansi 5 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7449436187744141</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.24931684136390686</real>
				<key>Red Component</key>
				<real>0.752197265625</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7816620469093323</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7742590308189392</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 6 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7816620469093323</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7742590308189392</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 6 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7816620469093323</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7742590308189392</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7810482978820801</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7810582518577576</real>
				<key>Red Component</key>
				<real>0.7810397744178772</real>
			</dict>
			<key>Ansi 7 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7810482978820801</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7810582518577576</real>
				<key>Red Component</key>
				<real>0.7810397744178772</real>
			</dict>
			<key>Ansi 7 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.7810482978820801</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7810582518577576</real>
				<key>Red Component</key>
				<real>0.7810397744178772</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.4078223705291748</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40782788395881653</real>
				<key>Red Component</key>
				<real>0.4078176021575928</real>
			</dict>
			<key>Ansi 8 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.4078223705291748</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40782788395881653</real>
				<key>Red Component</key>
				<real>0.4078176021575928</real>
			</dict>
			<key>Ansi 8 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.4078223705291748</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40782788395881653</real>
				<key>Red Component</key>
				<real>0.4078176021575928</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.45833224058151245</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4752407670021057</real>
				<key>Red Component</key>
				<real>0.8659515380859375</real>
			</dict>
			<key>Ansi 9 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.45833224058151245</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4752407670021057</real>
				<key>Red Component</key>
				<real>0.8659515380859375</real>
			</dict>
			<key>Ansi 9 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.45833224058151245</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4752407670021057</real>
				<key>Red Component</key>
				<real>0.8659515380859375</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.98</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.98</real>
				<key>Red Component</key>
				<real>0.98</real>
			</dict>
			<key>Background Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.12103271484375</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.09911105036735535</real>
				<key>Red Component</key>
				<real>0.0806884765625</real>
			</dict>
			<key>Background Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.98</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.98</real>
				<key>Red Component</key>
				<real>0.98</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.11610633134841919</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.11610633134841919</real>
				<key>Red Component</key>
				<real>0.7461385726928711</real>
			</dict>
			<key>Badge Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.6521859746214886</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.6521859746214886</real>
				<key>Red Component</key>
				<real>0.9787440299987793</real>
			</dict>
			<key>Badge Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.11610633058398889</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.11610633058398889</real>
				<key>Red Component</key>
				<real>0.7461385726928711</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.062745101749897</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.062745101749897</real>
				<key>Red Component</key>
				<real>0.062745101749897</real>
			</dict>
			<key>Bold Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9999960064888</real>
			</dict>
			<key>Bold Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.06274509803921569</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.06274509803921569</real>
				<key>Red Component</key>
				<real>0.06274509803921569</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Cursor Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9999872446060181</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>0.9999763369560242</real>
			</dict>
			<key>Cursor Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.8531928062438965</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7721771597862244</real>
				<key>Red Component</key>
				<real>0.5233826041221619</real>
			</dict>
			<key>Cursor Guide Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.9409904479980469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.8023261774920553</real>
				<key>Red Component</key>
				<real>0.37649588016392954</real>
			</dict>
			<key>Cursor Guide Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.8531928062438965</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7721771862908952</real>
				<key>Red Component</key>
				<real>0.5233826264372965</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Cursor Text Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Cursor Text Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1.0</real>
				<key>Red Component</key>
				<real>1.0</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.062745101749897</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.062745101749897</real>
				<key>Red Component</key>
				<real>0.062745101749897</real>
			</dict>
			<key>Foreground Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.8619885444641113</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.86199951171875</real>
				<key>Red Component</key>
				<real>0.8619791269302368</real>
			</dict>
			<key>Foreground Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.06274509803921569</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.06274509803921569</real>
				<key>Red Component</key>
				<real>0.06274509803921569</real>
			</dict>
			<key>Guid</key>
			<string>BB0232AD-31BA-4C0C-B415-4294D2EE2881</string>
			<key>Horizontal Spacing</key>
			<real>1.0</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9337158203125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.5578983426094055</real>
				<key>Red Component</key>
				<real>0.1980242282152176</real>
			</dict>
			<key>Link Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9337158203125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.5578983426094055</real>
				<key>Red Component</key>
				<real>0.1980242282152176</real>
			</dict>
			<key>Link Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.9337158203125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.5578983426094055</real>
				<key>Red Component</key>
				<real>0.1980242282152176</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>HackNFM-Regular 12</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selected Text Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selected Text Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.843137264251709</real>
				<key>Red Component</key>
				<real>0.7019608020782471</real>
			</dict>
			<key>Selection Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.843137264251709</real>
				<key>Red Component</key>
				<real>0.7019608020782471</real>
			</dict>
			<key>Selection Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1.0</real>
				<key>Blue Component</key>
				<real>1.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.843137264251709</real>
				<key>Red Component</key>
				<real>0.7019608020782471</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>iTermEnterWorkgroupTrigger</string>
					<key>contentregex</key>
					<string></string>
					<key>disabled</key>
					<false/>
					<key>eventParams</key>
					<dict>
						<key>jobName</key>
						<string>claude</string>
					</dict>
					<key>matchType</key>
					<integer>113</integer>
					<key>parameter</key>
					<string>builtin.claudeCode</string>
					<key>partial</key>
					<false/>
					<key>regex</key>
					<string></string>
				</dict>
				<dict>
					<key>action</key>
					<string>iTermExitWorkgroupTrigger</string>
					<key>contentregex</key>
					<string></string>
					<key>disabled</key>
					<false/>
					<key>eventParams</key>
					<dict>
						<key>jobName</key>
						<string>claude</string>
						<key>leaderOnly</key>
						<true/>
					</dict>
					<key>matchType</key>
					<integer>114</integer>
					<key>parameter</key>
					<string></string>
					<key>partial</key>
					<false/>
					<key>regex</key>
					<string></string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Separate Colors for Light and Dark Mode</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1.0</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/deniz.gokcin</string>
		</dict>
	</array>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreventEscapeSequenceFromClearingHistory</key>
	<true/>
	<key>ReportHorizontalScrollEvents</key>
	<false/>
	<key>ScrollableSideTabBar</key>
	<true/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>StatusMergeWorkgroups</key>
	<false/>
	<key>TabsHaveCloseButton</key>
	<true/>
	<key>ToolbeltTools</key>
	<array>
		<string>Session Status</string>
	</array>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowPlacement</key>
	<integer>2</integer>
	<key>Workgroups</key>
	<data>
	W3sidW5pcXVlSWRlbnRpZmllciI6ImJ1aWx0aW4uY2xhdWRlQ29kZSIsInNlc3Npb25z
	IjpbeyJtb2RlIjoicmVndWxhciIsImtpbmQiOnsia2luZCI6InJvb3QifSwidW5pcXVl
	SWRlbnRpZmllciI6ImJ1aWx0aW4uY2xhdWRlQ29kZS5tYWluIiwidXJsU3RyaW5nIjoi
	IiwidG9vbGJhckl0ZW1zIjpbeyJraW5kIjoibW9kZVN3aXRjaGVyIn0seyJraW5kIjoi
	Z2l0U3RhdHVzIn0seyJraW5kIjoiYXV0b1JlcXVlc3RSZXZpZXdXaGVuSWRsZSJ9XSwi
	ZGlzcGxheU5hbWUiOiJDaGF0IiwiY29tbWFuZCI6IiIsInBlckZpbGVDb21tYW5kIjoi
	In0seyJtb2RlIjoiZGlmZiIsImtpbmQiOnsia2luZCI6InBlZXIifSwidW5pcXVlSWRl
	bnRpZmllciI6ImJ1aWx0aW4uY2xhdWRlQ29kZS5kaWZmIiwidXJsU3RyaW5nIjoiIiwi
	cGFyZW50SUQiOiJidWlsdGluLmNsYXVkZUNvZGUubWFpbiIsInRvb2xiYXJJdGVtcyI6
	W3sia2luZCI6Im1vZGVTd2l0Y2hlciJ9LHsia2luZCI6ImNoYW5nZWRGaWxlU2VsZWN0
	b3IifSx7ImtpbmQiOiJnaXRCYXNlU2VsZWN0b3IifSx7ImZvcndhcmRTaG9ydGN1dCI6
	eyJzZXJpYWxpemVkIjoiMHhmNzAzLTB4MzQwMDAwLTB4N2MifSwicmVsb2FkU2hvcnRj
	dXQiOnsic2VyaWFsaXplZCI6IjB4NzItMHgxMDAwMDAtMHhmIn0sImJhY2tTaG9ydGN1
	dCI6eyJzZXJpYWxpemVkIjoiMHhmNzAyLTB4MzQwMDAwLTB4N2IifSwia2luZCI6Im5h
	dmlnYXRpb24ifV0sImRpc3BsYXlOYW1lIjoiRGlmZiIsImNvbW1hbmQiOiJnaXQgZGlm
	ZnRvb2wgLXkgLXggdmltZGlmZiBcXChnaXRCYXNlKSIsInBlckZpbGVDb21tYW5kIjoi
	Z2l0IGRpZmZ0b29sIC15IC14IHZpbWRpZmYgXFwoZ2l0QmFzZSkgLS0gXFwoZmlsZSki
	fSx7Im1vZGUiOiJjb2RlUmV2aWV3Iiwia2luZCI6eyJraW5kIjoicGVlciJ9LCJ1bmlx
	dWVJZGVudGlmaWVyIjoiYnVpbHRpbi5jbGF1ZGVDb2RlLnJldmlldyIsInVybFN0cmlu
	ZyI6IiIsInBhcmVudElEIjoiYnVpbHRpbi5jbGF1ZGVDb2RlLm1haW4iLCJ0b29sYmFy
	SXRlbXMiOlt7ImtpbmQiOiJtb2RlU3dpdGNoZXIifSx7ImtpbmQiOiJyZWxvYWQiLCJz
	aG9ydGN1dCI6eyJzZXJpYWxpemVkIjoiMHg3Mi0weDEwMDAwMC0weGYifX0seyJraW5k
	IjoiYXV0b1NlbmRDbGlwcGluZ3NXaGVuSWRsZSJ9XSwiZGlzcGxheU5hbWUiOiJDb2Rl
	IFJldmlldyIsImNvbW1hbmQiOiJjbGF1ZGUgXFwoY29kZVJldmlld1Byb21wdCkgLS1h
	cHBlbmQtc3lzdGVtLXByb21wdC1maWxlICdcXChjb2RlUmV2aWV3U3lzdGVtUHJvbXB0
	RmlsZSknIC0tc2V0dGluZ3MgJ1xcKGl0ZXJtMi5hcHBCdW5kbGVQYXRoKVwvQ29udGVu
	dHNcL1Jlc291cmNlc1wvY29kZS1yZXZpZXctc2V0dGluZ3MudHh0JyIsInBlckZpbGVD
	b21tYW5kIjoiIn1dLCJuYW1lIjoiQ2xhdWRlIENvZGUifV0=
	</data>
</dict>
</plist>
