[global_config]
  hide_from_taskbar = True
  sticky = True
  title_hide_sizetext = True
  title_transmit_bg_color = "#f92672"
  title_inactive_bg_color = "#75715e"
  enabled_plugins = APTURLHandler, LaunchpadCodeURLHandler, LaunchpadBugURLHandler
[keybindings]
  next_tab = <Primary>Page_Up
  prev_tab = <Primary>Page_Down
[profiles]
  [[default]]
    icon_bell = False
    background_color = "#0d0d0d"
    cursor_color = "#ffffff"
    font = Ubuntu Mono 12
    foreground_color = "#ffffff"
    show_titlebar = False
    palette = "#000000:#f92672:#6cc72c:#fe9720:#5f91ef:#9358fe:#36af90:#8c8c8c:#4c4c4c:#ff80f4:#a7e22e:#ffee99:#5fd9ef:#ae82fe:#66efd5:#c7cece"
    use_system_font = False
  [[solarized]]
    background_color = "#002b36"
    cursor_color = "#f8f8f2"
    font = Ubuntu Mono 12
    foreground_color = "#839496"
    show_titlebar = False
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    use_system_font = False
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = monokai
    [[[window0]]]
      type = Window
      parent = ""
      size = 1623, 876
[plugins]
